@page
@model WebECApp.Pages.ContactModel
@{
}
<div class="small-container">
    <h2 class="title">Contact Us</h2>
    <div class="row">
        <div class="btn">
            <a href="">Telephone: +44 7719 880348</a>
        </div>
    </div>
    <div class="row">
        <div class="btn">
            <a href="">E-Mail: samkiakehbuma@gmail.com</a>
        </div>
    </div>
    <div>
        <h2 class="title"> Social Media</h2>
    </div>
    <div class="row">
        <div class="col-1">
            <a href="https://www.facebook.com/mills.legacy.54"><img src="~/images/facebook-logoJ.jpg" width="200" height="200" alt="Facebook"></a>
            <a href="https://twitter.com/MillsLegacy"><img src="~/images/twitter-logo.png" width="200" height="200" alt="Twitter"></a>
            <a href="https://studio.youtube.com/channel/UCa0Z8dbQLmu7iWIQjg9y0CA/videos/upload?filter=%5B%5D&sort=%7B%22columnType%22%3A%22date%22%2C%22sortOrder%22%3A%22DESCENDING%22%7D"><img src="~/images/YouTube-logoJ.jpg" width="200" height="200" alt="YouTube"></a>
            <a href="https://www.instagram.com/mills_legacy/"><img src="~/images/instagram-logo.png" width="200" height="200" alt="Instagram"></a>
        </div>
    </div>
    <div class="col-2">
        <p>We are here to provide you with all the assistace you need</p>
    </div>
</div>