<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ECApp</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />*@
    <link rel="stylesheet" href="~/webstyle.css" type="text/css">
    <script src="/webanim.js" type="text/javascript" defer></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <div class="header">
            <div class="raw">
                <Partial name="_LoginPartial" />
            </div>
            <div class="container">
                <div class="row">
                    <div class="logo">
                        <img src="~/images/default.png" width="200">
                    </div>
                </div>

            </div>
        </div>
    </header>
    <div class="container">

        @RenderBody()

    </div>
    <!--------------------------footer------------------------->
    <footer>
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="footer-col-1">
                        <h3>Download our App</h3>
                        <p>Available on both ios and Android devices</p>
                        <div class="app-logo">
                            <img src="/images/playstore-logo.png">
                            <img src="/images/appstore-logo.png">
                        </div>
                    </div>
                    <div class="footer-col-2">
                        <img src="/images/default.png">
                        <p>
                            WALK DIFFERENT, WALK IN OUR SHOES
                        </p>
                    </div>
                    <div class="footer-col-3">
                        <h3>Useful Links</h3>
                        <ul>
                            <li>About</li>
                            <li>Contact</li>
                            <li>Return policy</li>

                        </ul>
                    </div>
                    <div class="footer-col-4">
                        <h3>Follow Us</h3>
                        <ul>
                            <li>Twitter</li>
                            <li>Facebook</li>
                            <li>Instagram</li>
                            <li>YouTube</li>
                        </ul>
                    </div>
                </div>
                <hr>
                <p class="copyright">Copyright @DateTime.Now.Year - Mill's Legacy</p>
            </div>
        </div>
    </footer>
</body>
</html>
@await RenderSectionAsync("Scripts", required: false)